body {
   margin: 0;
}

.header-a{
display: flex;
width: 344px;
margin-left: auto;
margin-right: auto;
padding: 16px 16px 17px 15px;
justify-content: center;
align-items: flex-start;
gap: 183px;
flex-shrink: 0;
border-bottom: 1px solid #C6C6C6;
background: #FFF;
    
}
.oldagram{
    width: 127px;
    height: 33.02px;
}
.my-pic{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
/* profile */

.container-a{
    display: flex;
    width: 344px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: start;
    padding-top: 10px; 
}
h2{
    color: #000;
    font-family: Source Sans Pro;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 307px;
    margin-top: 1px;
    margin-left: 7px;
    margin-bottom: 0;
}
h3{
    color: #000;
    width: 307px;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-left: 7px;
}


.post{
    display: block;
    width: 375px;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
}

.icons{
    display: flex;
    width: 104.337px;
    height: 22.135px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    margin-top: 21px;
    margin-bottom: 12px;
    gap: 10px;
   
} 

.heart-icon{
    margin-left: -115px;
}
.heart-icon:hover, .heart-icon:focus , .heart-icon:active{
    color: red;
    cursor: pointer;
}
.comment-icon:hover, .comment-icon:focus , .comment-icon:active{
    color: gray;
    cursor: pointer;
}
.dm-icon:hover, .dm-icon:focus, .dm-icon:active{
    background: aquamarine;
    cursor: pointer;
}

.container-a{
    display: flex;
    padding-left: 0;
}

.likes-section{
    display: block;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
}

h4{
   padding-right: 250px;
   margin-top: 0px;
   margin-left: 20px;
   margin-bottom: 12px;
   
   
}
p{
    padding-right: 50px;
    margin-top:0;
    margin-left: 20px;
}

.section-a{
    margin-bottom: 25px;   
}

.username-El{
    font-weight: bold;
    color: black;
}

button{
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
}
button:hover{
    background: gray;
    color: black;
} 